<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="col-md-8 offset mt-4">
  
    
    <input type="search" class=" form-control col-md-4" [(ngModel)]="searchValue" aria-describedby="helpId" placeholder="Search here...">
      <div class="row"> 
        <h5 class="col-md-2">Search By</h5>
        <div class="form-group">
          <select class="form-control" name="" id="" [(ngModel)]="searchBy" (change)="getSortedData()">
            <option value="fullName">FullName</option>
             <option value="loanType">Loan Type</option>
          </select>
        </div>
      </div>

      <!-- <h5>{{searchValue}}</h5> -->
  <div class="col-auto  offset mt-4">
    <table class="table table-bordered table-hover">
      <thead class="table-light">
        <tr>
          <!-- <th scope="col">Id</th> -->
          <th scope="col">Full name</th>
          <th scope="col">Email</th>
          <!-- <th scope="col">Password</th> -->
          <th scope="col">Age</th>
          <th scope="col">Gender</th>
          <th scope="col">Mobile Number</th>
          <th scope="col">Pan Number</th>
          <!-- <th scope="col">Role</th> -->
          <th scope="col">Loan Type</th>
          <th scope="col">Loan Amount</th>
          <th scope="col">Application Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor='let loanforms of loanform |search:searchValue:searchBy| paginate: { itemsPerPage: 3, currentPage: p }; '>
          <ng-container *ngFor='let applicants of loanforms.applicant '>
            <ng-container *ngIf="applicants.applicationStatus === 'Requested'">
          <tr>
            <!-- <td>{{loanforms.userId}}</td> -->
            <td>{{loanforms.fullName}}</td>
            <td>{{loanforms.email}}</td>
            <!-- <td>{{loanforms.password}}</td> -->
            <td>{{loanforms.age}}</td>
            <td>{{loanforms.gender}}</td>
            <td>{{loanforms.mobileNumber}}</td>
            <td>{{loanforms.panNumber}}</td>
            <!-- <td>{{loanforms.role}}</td> -->
            <!-- <td>{{applicants.appId}}</td> -->
            <td>{{applicants.loanType}}</td>
            <td>{{applicants.loanAmount}}</td>
            <td>{{applicants.applicationStatus}}</td>
            <td>
              <div class="btn-group mb-4" role="group" >
                <button class="btn btn-outline-success" type="submit" 
                  (click)='selectApprove(applicants)'>Approve</button>
                <button class="btn btn-outline-danger" type="submit" 
                  (click)='selectReject(applicants)'>Reject</button>
              </div>
            </td>
          </tr>
        </ng-container>
        </ng-container>
      </ng-container>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>