  <app-header></app-header> 
<router-outlet></router-outlet> 
<!-- <app-loanprogram></app-loanprogram> -->
<!-- <app-loanform></app-loanform> -->
<!-- <app-add-clients></app-add-clients> -->
<!-- <app-add-clients></app-add-clients> -->
<!-- <app-view-loanform></app-view-loanform> -->

 <!-- <app-view-loanprogram></app-view-loanprogram> -->
<!-- <app-add-clients></app-add-clients> -->
<!-- <app-view-addclients></app-view-addclients> -->
<!-- <app-userform></app-userform> -->
<!-- <app-viewapplicant></app-viewapplicant> -->
<!-- <app-view-customer></app-view-customer> -->